BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
PointerAlignment: Left
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
SortIncludes: false
ColumnLimit: 120
TabWidth: 4
UseTab: Never
