QMainWindow {
    background-color: #101111;
}

/* Menu bar and menu bar item styling */
QMenuBar {
    border-bottom: 1px solid #272727;
}

QMenuBar,
QMenu {
    background-color: #1A1C1C;
    padding: 4px;
}

QMenu {
    border: 1px solid #272727;
    border-radius: 6%;
}

QMenuBar::item {
    padding: 3px 8px 3px 8px;
    border-radius: 6%;
}

QMenu::item {
    padding: 5px 20px 5px 10px;
    border-radius: 6%;
}

QMenuBar::item:selected,
QMenu:selected,
QMenu::item:selected {
    background-color: #0067C6;
}

/* Panel styling */
#ImageRenderingPanel::title,
#ViewPanel::title,
#ImportPanel::title,
#InfoPanel::title,
#ExportPanel::title,
#CompositePanel::title {
    subcontrol-position: top left;
    top: -6px;
    left: -6px;
    margin: 2px;
}

#ImageRenderingPanel,
#ViewPanel,
#ImportPanel,
#InfoPanel,
#ExportPanel,
#CompositePanel {
    background-color: #161818;
    border: 1px solid #272727;
    margin: 20px 5px 5px 5px;
    padding: 5px;
    padding-top: 15px;
    border-radius: 5%;
}

/* InputField styling */
QCheckBox::indicator {
    background-color: #101111;
    border: 1px solid #272727;
    border-radius: 2%;
}

QCheckBox::indicator:checked {
    background-clip: content;
    background-color: #0067C6;
    padding: 10px;
}

QPushButton,
QToolButton {
    background-color: #353535;
    border: 1px solid #101111;
    border-radius: 4%;
    padding: 3px;
}

QPushButton:hover,
QToolButton:hover {
    background-color: #0067C6;
    border: 1px solid #0C2B4B;
}

QLineEdit,
QSpinBox,
QDoubleSpinBox {
    background-color: #101111;
    border: 1px solid #272727;
    border-radius: 4%;
    padding: 3px;
    margin: 0px;
}

QSpinBox::up-button,
QSpinBox::down-button,
QDoubleSpinBox::up-button,
QDoubleSpinBox::down-button {
    background-color: transparent;
}

/*
QSlider::groove { 
	background-color: #0067C6;
	border: 0px solid #424242; 
	height: 8px;
	border-radius: 4%;
}*/

QSlider::groove:horizontal {
    border: 1px solid #272727;
    height: 7px;
    border-radius: 4%;
    background-color: #101111;
}

QSlider::handle:horizontal {
    background: #353535;
    border: 1px solid #272727;
    width: 12px;
    height: 12px;
    margin: -4px 0;
    /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 5%;
}

QSlider::add-page:horizontal {
    border: 1px solid #272727;
    background-color: #101111;
    border-radius: 4%;
}

QSlider::sub-page:horizontal {
    border: 1px solid #272727;
    background-color: #0067C6;
    border-radius: 4%;
}