QMainWindow {
    background-color: #101111;
}

/* Menu bar and menu bar item styling */
QMenuBar {
    border-bottom: 1px solid #272727;
}

QMenuBar,
QMenu {
    background-color: #1A1C1C;
    padding: 4px;
}

QMenu {
    border: 1px solid #272727;
    border-radius: 6%;
}

QMenuBar::item {
    padding: 3px 8px 3px 8px;
    border-radius: 6%;
}

QMenu::item {
    padding: 5px 20px 5px 10px;
    border-radius: 6%;
}

QMenuBar::item:selected,
QMenu:selected,
QMenu::item:selected {
    background-color: #0067C6;
}

/* Panel styling */
QPanel::title,
QGroupBox::title {
    subcontrol-position: top left;
    top: -10px;
    left: -6px;
    margin: 2px;
}

QPanel,
QGroupBox {
    background-color: #161818;
    border: 1px solid #272727;
    margin: 15px 5px 5px 5px;
    padding: 5px;
    padding-top: 15px;
    border-radius: 5%;
}

/* InputField styling */
QCheckBox::indicator,
QGroupBox::indicator {
    background-color: #101111;
    border: 1px solid #272727;
    border-radius: 2%;
}

QCheckBox::indicator:checked,
QGroupBox::indicator:checked {
    background-clip: content;
    background-color: #0067C6;
    padding: 10px;
}

/* Button styling */
QPushButton,
QToolButton {
    background-color: #353535;
    border: 1px solid #101111;
    border-radius: 4%;
    padding: 3px;
}

QPushButton:hover,
QToolButton:hover {
    background-color: #0067C6;
    border: 1px solid #0C2B4B;
}

QTextEdit,
QLineEdit,
QSpinBox,
QDoubleSpinBox {
    background-color: #101111;
    border: 1px solid #272727;
    border-radius: 4%;
    padding: 3px;
    margin: 0px;
}

QSpinBox::up-button,
QSpinBox::down-button,
QDoubleSpinBox::up-button,
QDoubleSpinBox::down-button {
    background-color: transparent;
}

/* Slider styling */
QSlider::groove:horizontal {
    border: 1px solid #272727;
    height: 6px;
    border-radius: 4%;
    background-color: #101111;
}

QSlider::handle:horizontal {
    background: #353535;
    border: 1px solid #272727;
    width: 11px;
    height: 10px;
    margin: -3px 0;
    border-radius: 5px;
}

QSlider::add-page:horizontal {
    border: 1px solid #272727;
    background-color: #101111;
    border-radius: 4%;
}

QSlider::sub-page:horizontal {
    border: 1px solid #272727;
    background-color: #0067C6;
    border-radius: 4%;
}

/* QComboBox styling */
QComboBox {
    background-color: #353535;
    border: 1px solid #101111;
    border-radius: 4%;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

QComboBox::drop-down {
    border: none;
}

QComboBox::down-arrow {
    image: url(":/assets/style/drop_down.png");
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

QComboBox QAbstractItemView {
    border: 1px solid #272727;
    border-radius: 6%;
    padding: 3px;
    background-color: #1A1C1C;
}

QComboBox::item {
    margin: 0px;
    height: 25%;
    padding: 0px;
    padding-left: -20px;
}

QComboBox::item:selected {
    background: #0067C6;
    border-radius: 5%;
}

QComboBox::indicator {
    image: none;
}

/* Progress bar styling */
QProgressBar {
    border: 1px solid #272727;
    background-color: #101111;
    border-radius: 6px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: #0067C6;
    border-radius: 5%;
}
